* {
    font-family: "Comic Sans MS";
  }
  
.concept {
   background-color: white;
    border-radius: 10px;
    color: black;
    padding: 5px;
    margin: 25px;
  } 

h1 {
    text-align: center;
  }

.header-image {
    height: 300px;
    border-radius: 425px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    text-align: center;
  }
   
  .image-container {
   text-align: center;
    background-color: green;
    border-radius: 10px;
    color: black;
    padding: 5px;
    margin: 25px;
  }

  .italic {
    font-style: italic;
  }
  
  .work-session {
    background-color: green;
    border-radius: 10px;
    color: black;
    padding: 5px;
    margin: 25px;
  }